@using Microsoft.AspNetCore.Mvc.ViewEngines
@using Microsoft.AspNetCore.Identity
@using Itm.Identity
@inject UserManager<ApplicationUser> UserManager
@inject ICompositeViewEngine Engine

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha512-tDXPcamuZsWWd6OsKFyH6nAqh/MjZ/5Yk88T5o+aMfygqNFPan1pLyPFAndRzmOWHKT+jSDzWpJv8krj6x1LMA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/css/site.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Poppins&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

	  @RenderSection("Styles", false)

    <title>@ViewData["Title"] - PROTARU</title>
  </head>

  <body>
    <header class="bg-menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="navbar-brand" asp-page="/Index">
            <img src="~/assets/img/logo.png">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">

			      @RenderSection("Menu", true)

          </div>
          <a class="ml-3" href="https://atrbpn.go.id/">
            <img src="~/assets/img/footer-icon-2.png">
          </a>
        </nav>
      </div>
    </header>

    @RenderBody()

    <footer class="pt-3 bg-footer">
      <div class="text-center font-weight-bold pt-5 mt-5 text-footer">
        <a href="https://atrbpn.go.id/"><img src="~/assets/img/footer-icon-2.png"></a>
        <a href="https://tataruang.atrbpn.go.id/"><img src="~/assets/img/footer-icon-1.png"></a>
        <div>
          <span class="footer-copyright">&copy; 2020 APLIKASI PROTARU</span> <br>
          Direktorat Jenderal Tata Ruang <br>
          Kementerian Agraria dan Tata Ruang / Badan Pertanahan Nasional <br>
          Jalan Raden Patah I No. 1 Kebayoran Baru Jakarta Selatan - Kode Pos 12110 <br>
        </div>
      </div>

      <div class="text-center pt-2">
        <a target="_blank" rel="noopener" href="https://www.facebook.com/atrbpn" class="px-2">
          <img src="~/assets/img/facebook-icon.png" style="width: 32px; height: 32px; object-fit: cover;">
        </a>
        <a target="_blank" rel="noopener" href="https://twitter.com/atr_bpn" class="px-2">
          <img src="~/assets/img/twitter-icon.png" style="width: 32px; height: 32px; object-fit: cover;">
        </a>
        <a target="_blank" rel="noopener" href="https://www.instagram.com/kementerian.atrbpn/?hl=id" class="px-2">
          <img src="~/assets/img/instagram-icon.png" style="width: 32px; height: 32px; object-fit: cover;">
        </a>
        <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UC29czQyZyoMFNDgXYYWjmkw" class="px-2">
          <img src="~/assets/img/youtube-icon.png" style="width: 32px; height: 32px; object-fit: cover; border-radius: 4px;">
        </a>
      </div>
      <div class="kritik-saran">
        <a asp-page="/KritikSaran/Index" class="px-2">
          <img src="~/assets/img/kritik-saran.png" style="">
        </a>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha512-TqmAh0/sSbwSuVBODEagAoiUIeGRo8u95a41zykGfq5iPkO9oie8IKCgx7yAr1bfiBjZeuapjLgMdp9UMpCVYQ==" crossorigin="anonymous"></script>
    <script src="~/js/site.js"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

    @RenderSection("Scripts", required: false)

  </body>
</html>
