@page
@model MonevAtr.Pages.KabupatenKota.IndexModel

@{
    ViewData["Title"] = "Daftar Kabupaten/Kota";
}

<h1>Daftar Kabupaten/Kota</h1>

<p>
    <a asp-page="Create">Tambah Kabupaten/Kota</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KabupatenKota[0].Kode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KabupatenKota[0].Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KabupatenKota[0].Provinsi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KabupatenKota) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provinsi.Nama)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Kode">Ubah</a> |
                <a asp-page="./Delete" asp-route-id="@item.Kode">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
