@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrNasionalSearchResultLayout";
    ViewData["Title"] = "Monitoring & Evaluasi RTRWN T5-1";
    ViewData["PageTitle"] = "RTRWN";
}

<div class="card-body table-responsive">
    <table class="table card-table table-vcenter table-bordered table-sm table-hover table search-result">
        <thead>
            <tr class="text-light font-weight-bold text-center bg-info">
                <th>No</th>
                <th>Action</th>
                <th>Nama</th>
                <th>Status</th>
                <th>Nomor Perpres</th>
                <th>Tahun Perpres</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
@{
int index = Model.Hasil.StartItemIndex;
}
@foreach (var item in Model.Hasil)
{
            <tr>
                <td>@index</td>
                @await Html.PartialAsync("_DokumenEditOrViewLink", item)
                <td>@Html.DisplayFor(modelItem => item.Nama)</td>
                <td>@MonevAtr.Models.StatusRevisi.NamaStatusRevisiRegular(item.StatusRevisi)</td>
                <td>@Html.DisplayFor(modelItem => item.Nomor)</td>
                <td>@Html.DisplayFor(modelItem => item.Tahun)</td>
                <td>@Html.DisplayFor(modelItem => item.ProgressAtr.Nama)</td>
            </tr>
    index++;
}

        </tbody>
    </table>

    @await Html.PartialAsync("_PagingPartial", Model.Hasil)
</div>
