@page
@using Microsoft.AspNetCore.Http;
@model MonevAtr.Pages.Rdtr.EditResultModel

@{
    ViewData["Title"] = "Detail RDTR";
}

<div class="page-header">
    <h1 class="page-title"></h1>
</div>
<div class="row row-cards text">
    <div class="col-12 card">
        <div>
            Kode: @Model.Atr.Kode
            <br/>
            Nama: @Model.Atr.Nama
            <br/>
            Nomor: @Model.Atr.Nomor
            <br/>
            Tanggal: @Model.Atr.Tanggal
            <br/>
            Aoi: @Model.Atr.Aoi
            <br/>
            Luas: @Model.Atr.Luas
            <br/>
            Tahun: @Model.Atr.Tahun
            <br/>
            Kode Jenis Atr: @Model.Atr.KodeJenisAtr
            <br/>
            Kode Kabupaten/Kota: @Model.Atr.KodeKabupatenKota
            <br/>
            Kode Provinsi: @Model.Atr.KodeProvinsi
            <br/>
            Permasalahan: @Model.Atr.Permasalahan
            <br/>
            Tindak Lanjut: @Model.Atr.TindakLanjut
            <br/>
            Keterangan: @Model.Atr.Keterangan
        </div>
        <h4>List Count: @Model.AtrDokumenList.Count</h4>

        <table class="table">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Kode</th>
                    <th>Kode Atr</th>
                    <th>Kode Dokumen</th>
                    <th>Status</th>
                    <th>Nomor</th>
                    <th>Tanggal</th>
                    <th>Path</th>
                    <th>FileName</th>
                </tr>
            </thead>
            <tbody>
@for(int index=0; index < Model.AtrDokumenList.Count; index++)
{
    var item = Model.AtrDokumenList[index];
    IFormFile file = Model.AtrDokumenList[index].UploadFile.File;

                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KodeAtr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KodeDokumen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nomor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayTanggal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FilePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => file.FileName)
                    </td>
                </tr>
}
            </tbody>
        </table>

        <div class="card-footer text-center">
            <a asp-page="./Index" class="btn btn-primary"><i class="fe fe-arrow-left"></i> Kembali</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

