@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrDaerahSearchResultLayout";
    ViewData["Title"] = "Monitoring & Evaluasi RDTR";
    ViewData["PageTitle"] = "RDTR";
}

<div class="card-body table-responsive">
    <component type="typeof(SearchResultTable)" 
        render-mode="Static" 
        param-RegulationName="@("Perda")"
        param-DisplayedLocation="@RtrTableLocationEnum.ProvinsiKabKota"
        param-IsCanEdit="false" 
        param-IsDisplayRegulation="@Model.IsPerdaPerpres" 
        param-Url="@Model.Url" 
        param-Items="@Model.Hasil" />
    <partial name="_PagingPartial" model="Model.Hasil" />
</div>
