@page
@model MonevAtr.Pages_Dokumen.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="bg-page-detail pt-4 pb-5 container">
    <h1>Index</h1>

    <div class="row row-cards card">
        <div class="card-body">

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].Nomor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].AmbilNomor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].JumlahTindakLanjut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].UntukPublik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dokumen[0].KelompokDokumen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dokumen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmbilNomor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahTindakLanjut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UntukPublik)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KelompokDokumen.DisplayNamaJenisAtr)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Kode">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Kode">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Kode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

        </div>
    </div>
</div>