@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrDaerahSearchResultLayout";
    ViewData["PageTitle"] = "RTRW";
    ViewData["Title"] = Model.IsCanEdit ? 
        "Monitoring & Evaluasi RTRW T5-1" : 
        "Monitoring & Evaluasi RTRW";
    string pageName = Model.IsCanEdit ? "./Edit" : "./View";
}

<div class="card-body table-responsive">
    <component type="typeof(SearchResultProvKabKota)" 
        render-mode="Static" 
        param-PageName="@pageName" 
        param-RegulationName="@("Perda")"
        param-DisplayedLocation="@RtrTableLocationEnum.ProvinsiKabKota"
        param-IsCanEdit="@Model.IsCanEdit" 
        param-IsDisplayRegulation="true" 
        param-Url="@Model.Url" 
        param-Items="@Model.Hasil" />
    <partial name="_PagingPartial" model="Model.Hasil" />
</div>
