@using Microsoft.AspNetCore.Mvc

<div class="ml-auto float-sm-right">

    <form method="get" action="@Url.Page("./CreateFilter")" class="d-inline">

@if (DisplayedLocation == RtrTableLocationEnum.ProvinsiKabKota)
{
        <input type="hidden" name="Rtr.Prov" value="@Rtr.Prov" />
        <input type="hidden" name="Rtr.KabKota" value="@Rtr.KabKota" />
}

@if (DisplayedLocation == RtrTableLocationEnum.Kawasan)
{
        <input type="hidden" name="Rtr.Kawasan" value="@Rtr.Kawasan" />
}

@if (DisplayedLocation == RtrTableLocationEnum.Pulau)
{
        <input type="hidden" name="Rtr.Pulau" value="@Rtr.Pulau" />
}

        <input type="hidden" name="Rtr.Nama" value="@Rtr.Nama" />
        <input type="hidden" name="Rtr.Nomor" value="@Rtr.Nomor" />
        <input type="hidden" name="Rtr.Tahun" value="@Rtr.Tahun" />

@foreach (int value in Rtr.ProgressList) 
{
        <input type="hidden" name="Rtr.ProgressList" value="@value" />
}

@if(IsCanCreate)
{
        @* <a href="@Url.Page("./Import")" class="btn btn-info"><i class="fe fe-upload"></i> Impor Data</a> *@
        <button type="submit" class="btn btn-success">Tambah</button>
}
    </form>

    <button class="btn btn-warning" onclick="window.history.back();">Kembali</button>
</div>

@code {
    [Parameter]
    public bool IsCanCreate { get; set; }

    [Parameter]
    public RtrTableLocationEnum DisplayedLocation { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }

    [Parameter]
    public Models.AtrSearch Rtr { get; set; }
}