@using Microsoft.AspNetCore.Mvc

<tr>
    <td>@Index</td>
    <td class="text-center">
        <a href="@Url.Page(PageName)/@Item.Kode"
            class="btn btn-primary btn-sm">
            Detail
        </a>
    </td>

@if (DisplayedLocation == RtrTableLocationEnum.Kawasan)
{
    <td>@Item.DisplayNamaKawasan</td>
}

@if (DisplayedLocation == RtrTableLocationEnum.ProvinsiKabKota)
{
    <td>@Item.DisplayNamaProvinsi</td>
    <td>@Item.DisplayNamaKabupatenKota</td>
}

@if (DisplayedLocation == RtrTableLocationEnum.Pulau)
{
    <td>@Item.DisplayNamaPulau</td>
}

@if (IsAdminView)
{
    <td>@Item.DisplayNamaStatusRevisi</td>
}

    <td>@Item.Nama</td>

@if (IsDisplayRegulation)
{
    <td>@Item.Nomor</td>
    <td>@DisplayTahun()</td>
}
else
{
    <td>@DisplayTahunPenyusunan()</td>
}

    <td>@Item.DisplayNamaProgress</td>
</tr>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public string PageName { get; set; }

    [Parameter]
    public bool IsAdminView { get; set; }

    [Parameter]
    public bool IsDisplayRegulation { get; set; }

    [Parameter]
    public RtrTableLocationEnum DisplayedLocation { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }

    [Parameter]
    public Models.Atr Item { get; set; }

    public string DisplayTahun()
    {
        if (Item.Tahun == 0)
        {
            return "-";
        }

        return Item.Tahun.ToString();
    }

    public string DisplayTahunPenyusunan()
    {
        if (Item.TahunPenyusunan == 0)
        {
            return "-";
        }

        return Item.TahunPenyusunan.ToString();
    }
}
