@using Microsoft.AspNetCore.Html

<div class="page-title">
    <div class="container">
        <h4>@PageTitle</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="container pt-4 pb-5">
        <div class="row row-cards card">
            <div class="card-header">
                <h4 class="card-title float-sm-left">@Title</h4>

@if (Model.IsUseCreateForm)
{
                <SearchResultForm 
                    DisplayedLocation="@DisplayedLocation"
                    IsCanCreate="@Model.IsCanCreate" 
                    Url="@Model.Url" 
                    Rtr="@Model.Rtr" />
}
else
{
                <SearchResultLink
                    IsCanCreate="@Model.IsCanCreate" 
                    Url="@Model.Url"
                    ReturnPage="@ReturnPage" />
}

            </div>

            <div class="card-body table-responsive">
                <SearchResultTable 
                    RegulationName="@Model.RegulationName"
                    DisplayedLocation="@DisplayedLocation"
                    IsCanEdit="@Model.IsCanEdit" 
                    IsDisplayRegulation="@Model.IsDisplayRegulation" 
                    Url="@Model.Url" 
                    Items="@Model.Hasil" 
                    HomepageResult="@HomepageResult"/>
                @((MarkupString)PagingHtml.ContentAsString())
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string PageTitle { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public SearchResultPageModel Model { get; set; }

    [Parameter]
    public RtrLocationEnum DisplayedLocation { get; set; }

    [Parameter]
    public IHtmlContent PagingHtml { get; set; }

    [Parameter]
    public string ReturnPage { get; set; }

    [Parameter]
    public bool HomepageResult { get; set; } = false;
}
