@page "{id:int?}"
@model EditModel
@using Protaru.Components.Rtr

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Detail RTR KSN T5-2";
    ViewData["PageTitle"] = "RTR KSN";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card pt-4">
                <component type="typeof(DetailTitle)"
                    render-mode="Static"
                    param-Rtr="@Model.Atr" />

                <form method="post">
                    <div class="card-body row">
                        <component type="typeof(EditHidden)"
                            render-mode="Static"
                            param-Rtr="@Model.Atr" />

                        <!-- <div class="col-md-12 form-group">
                            <label class="form-label">Area of Interest</label>
                            <input asp-for="Atr.Aoi" class="form-control">
                        </div> -->

                        <div class="col-sm-6 col-md-6 form-group">
                            <label class="form-label">Luas (Ha)</label>
                            <input asp-for="Atr.Luas" type="number" class="form-control" placeholder="0.000" step="0.001" />
                        </div>

                        <div class="col-sm-6 col-md-6 form-group">
                            <label class="form-label">Tahun Penyusunan</label>
                            <input asp-for="Atr.TahunPenyusunan" class="form-control">
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Progress</label>
                            <select asp-for="Atr.KodeProgressAtr" class ="form-control" asp-items="ViewBag.Progress"></select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Status Revisi</label>
                            <select asp-for="Atr.StatusRevisi" class ="form-control" asp-items="ViewBag.StatusRevisi"></select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Permasalahan</label>
                            <textarea asp-for="Atr.Permasalahan" class ="form-control"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Tindak Lanjut</label>
                            <textarea asp-for="Atr.TindakLanjut" class ="form-control"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Keterangan</label>
                            <textarea asp-for="Atr.Keterangan" class ="form-control"></textarea>
                        </div>
                    </div>

@{
int index = 0;
}

@foreach (var item in Model.KelompokDokumenList)
{
                    <hr>
                    <h5 class="card-title">&nbsp; @item.Nomor . @item.Nama</h5>
                    <hr>
                    <div class="card-body row">

    @foreach( var detailItem in item.Dokumen)
    {
        string fieldName = $"AtrDokumenList[{index}].FilePath";

                        <div class="col-sm-6 col-md-2 pt-2">
                            @detailItem.Nama
                        </div>

                        <input type="hidden" name="AtrDokumenList[@index].Kode" value="@detailItem.DetailDokumen.Kode"/>
                        <input type="hidden" name="AtrDokumenList[@index].KodeDokumen" value="@detailItem.Kode"/>

                        <div class="col-sm-6 col-md-1 form-group p-2px">
                            <select class="form-control" name="AtrDokumenList[@index].Status">
                                <option value="0">Tidak</option>

        @if(detailItem.DetailDokumen.StatusAda)
        {
                                <option value="1" selected="selected">Ada</option>
        }
        else
        {
                                <option value="1">Ada</option>
        }

                            </select>
                        </div>

                        <div class="col-sm-6 col-md-2 form-group p-2px">
                            <input type="text" name="AtrDokumenList[@index].Nomor" value="@detailItem.DetailDokumen.Nomor" class="form-control" placeholder="Nomor" />
                        </div>

                        <div class="col-sm-6 col-md-2 form-group p-2px">
                            <input type="date" name="AtrDokumenList[@index].Tanggal" value="@detailItem.DetailDokumen.DisplayTanggal" class="form-control" />
                        </div>

                        <div class="col-sm-6 col-md-2 form-group p-2px">
                            <textarea name="AtrDokumenList[@index].Keterangan" class="form-control bnote-rdtr" data-toggle="modal" data-target="#note-modal" rows="1">@detailItem.DetailDokumen.Keterangan</textarea>
                        </div>

                        <div class="col-md-3 form-group p-5px">
                            <component type="typeof(FileUpload)"
                                render-mode="Static"
                                param-FieldName="@fieldName"
                                param-FilePath="@detailItem.DetailDokumen.FilePath"
                                param-Url="@Url" />
                        </div>

                        <component type="typeof(EditTindakLanjut)"
                            render-mode="Static"
                            param-Rtr="@Model.Atr"
                            param-Dokumen="@detailItem" />

        index++;
    }

                    </div>
}

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="/Atr/Delete" asp-route-id="@Model.Atr.Kode" class="btn btn-primary">Hapus</a>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>

                <component type="typeof(LastUpdate)"
                    render-mode="Static"
                    param-Rtr="@Model.Atr" />
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ModalInputPartial")

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ModalScriptPartial");}
    @{await Html.RenderPartialAsync("_AjaxUploadFileScriptPartial");}

    <script>
        $(document).ready(function () {
            $('.btn-upload').click(function () {
                process(this, 'RtrKsnT52');
            });
        });
    </script>
}
