@using Microsoft.AspNetCore.Mvc

<div class="col-sm-6 col-md-2 pt-2">
    @Dokumen.Nama
</div>

<input 
    type="hidden" 
    name="AtrDokumenList[@Index].Kode" 
    value="@Dokumen.DetailDokumen.Kode"/>
<input 
    type="hidden" 
    name="AtrDokumenList[@Index].KodeDokumen" 
    value="@Dokumen.Kode"/>

<DokumenStatusSelect
    Index="@Index"
    StatusAda="@Dokumen.DetailDokumen.StatusAda">
</DokumenStatusSelect>

<div class="col-sm-6 col-md-2 form-group p-2px">
    <input 
        type="text" 
        name="AtrDokumenList[@Index].Nomor" 
        value="@Dokumen.DetailDokumen.Nomor" 
        class="form-control" 
        placeholder="Nomor" />
</div>

<div class="col-sm-6 col-md-2 form-group p-2px">
    <input 
        type="date" 
        name="AtrDokumenList[@Index].Tanggal" 
        value="@Dokumen.DetailDokumen.DisplayTanggal" 
        class="form-control" />
</div>

<div class="col-sm-6 col-md-2 form-group p-2px">
    <textarea 
        name="AtrDokumenList[@Index].Keterangan" 
        class="form-control bnote-rdtr" 
        data-toggle="modal" 
        data-target="#note-modal" 
        rows="1">
        @Dokumen.DetailDokumen.Keterangan
    </textarea>
</div>

<div class="col-md-3 form-group p-5px">
    <FileUpload
        FieldName="@FilePathFieldName"
        FilePath="@Dokumen.DetailDokumen.FilePath"
        Url="@Url">
    </FileUpload>
</div>

<EditTindakLanjut
    Rtr="@Rtr"
    Dokumen="@Dokumen"
    Url="@Url">
</EditTindakLanjut>

@code {
    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public MonevAtr.Models.Atr Rtr { get; set; }

    [Parameter]
    public MonevAtr.Models.Dokumen Dokumen { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }

    private string FilePathFieldName => $"AtrDokumenList[{Index}].FilePath";
}
