@using Microsoft.AspNetCore.Mvc

@foreach (var item in KelompokDokumen)
{
    <hr>
    <h5 class="card-title">&nbsp; @item.Nomor . @item.Nama</h5>
    <hr>
    <div class="card-body row">

    @foreach (var detailItem in item.Dokumen)
    {
        <EditDokumen
            Index="@index"
            Rtr="@Rtr"
            Dokumen="@detailItem"
            Url="@Url">
        </EditDokumen>

        index++;
    }

    </div>
}

@code {

    [Parameter]
    public MonevAtr.Models.Atr Rtr { get; set; }

    [Parameter]
    public List<MonevAtr.Models.KelompokDokumen> KelompokDokumen { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }

    private int index = 0;
}
