@using Microsoft.AspNetCore.Mvc

<div class="col-sm-6 col-md-3 pt-2">
    Tindak Lanjut @Index
</div>

<div class="col-sm-6 col-md-1 form-group">
    <input 
        type="checkbox" 
        name="@StatusName" 
        value="@StatusYes" 
        class="form-check custom-control"/>
</div>

<div class="col-sm-6 col-md-6 form-group">
    <input 
        type="text" 
        name="@KeteranganName"
        value="@Keterangan" 
        class ="form-control"/>
</div>

<div class="col-md-2 form-group">
    <FileUpload
        FieldName="@FilePathName"
        FilePath="@FilePath"
        Url="@Url">
    </FileUpload>
</div>

@code {
    private string StatusName => $"Atr.TL{Index}StatusYes";
    private string KeteranganName => $"Atr.TL{Index}Keterangan";
    private string FilePathName => $"Atr.TL{Index}FilePath";

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public bool StatusYes { get; set; }

    [Parameter]
    public string Keterangan { get; set; }

    [Parameter]
    public string FilePath { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }
}
