@using Microsoft.AspNetCore.Mvc

<DetailTitle Rtr="@Rtr.Rtr"><DetailTitle/>

<div class="col-md-12 form-group">
    <label class="form-label font-weight-bold">Progress</label>
    <input type="text" value="@Rtr.Rtr.DisplayNamaProgress" class="form-control" disabled />
</div>

<div class="col-md-12 form-group">
    <label class="form-label font-weight-bold">Permasalahan</label>
    <textarea value="@Rtr.Rtr.Permasalahan" class ="form-control" disabled></textarea>
</div>

<div class="col-md-12 form-group">
    <label class="form-label font-weight-bold">Tindak Lanjut</label>
    <textarea value="@Rtr.Rtr.TindakLanjut" class ="form-control" disabled></textarea>
</div>

<div class="col-md-12">
    <label class="form-label font-weight-bold">Keterangan</label>
    <textarea value="@Rtr.Rtr.Keterangan" class ="form-control" disabled></textarea>
</div>

<div class="mt-4 tag-title-box-2">
    <div class="tag-title"><span>DOKUMEN DETIL</span></div>
</div>

<div class="card border-none mb-3 col-md-12" style="border-color: transparent;">
    <div class="card-body table-responsive">
        <div class="">
            <table class="table card-table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Nomor</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Keterangan</th>
                        <th scope="col">File</th>
                    </tr>
                </thead>
                <tbody>

@{
    int index = 1;

    foreach (var item in Rtr.KelompokDokumenList) 
    {
        foreach( var detailItem in item.Dokumen)
        {
            if( detailItem.UntukPublik == 0)
            {
                continue;
            }

            var detailDokumen = detailItem.DetailDokumen;
            var nomor = detailDokumen == null ? string.Empty : detailDokumen.Nomor;
            var tanggal = detailDokumen == null ? string.Empty : detailDokumen.DisplayTanggalForView;
            var keterangan = detailDokumen == null ? string.Empty : detailDokumen.Keterangan;

                    <tr>
                        <td>@index</td>
                        <td>@detailItem.Nama</td>
                        <td>@nomor</td>
                        <td>@tanggal</td>
                        <td>@keterangan</td>

                        <ViewFile
                            RtrDokumen="@detailItem.DetailDokumen"
                            Url="@Url">
                        </ViewFile>
                    </tr>

            index++;
        }
    }
}

                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public MonevAtr.Models.RtrDetail Rtr { get; set; }

    [Parameter]
    public IUrlHelper Url { get; set; }
}
