@page
@model MonevAtr.Pages.KelompokDokumen.IndexModel

@{
    ViewData["Title"] = "Daftar Kelompok Dokumen";
}

<h1>Daftar Kelompok Dokumen</h1>

<p>
    <a asp-page="Create">Tambah Kelompok Dokumen</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KelompokDokumen[0].Kode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelompokDokumen[0].Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelompokDokumen[0].Nomor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KelompokDokumen[0].JenisAtr)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.KelompokDokumen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nomor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JenisAtr.Nama)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Kode">Ubah</a> |
                <a asp-page="./Delete" asp-route-id="@item.Kode">Hapus</a>
            </td>
        </tr>
}
    </tbody>
</table>
