@page
@model MonevAtr.Pages.RtrwRevisi.EditModel

@{
    ViewData["Title"] = "Detail RTRW T5-2";
}

<div class="page-header">
    <h1 class="page-title"></h1>
</div>
<div class="row row-cards text">
    <div class="col-12 card">
        <div class="card-body">
            <h1 class="title">@Html.DisplayFor(model => model.Atr.DisplayNamaProvinsiKabupatenKota)</h1>
            <h2 class="title">@Html.DisplayFor(model => model.Atr.Nama)</h2>
            <h3 class="title">Nomor: @Html.DisplayFor(model => model.Atr.Nomor)</h3>
        </div>
        <hr>

        <!-- <form asp-page="./EditResult" method="post" enctype="multipart/form-data"> -->
        <form method="post" enctype="multipart/form-data">
            <div class="card-body row">
                <div class="col-md-12 form-group table-responsive">
                    <table class="table card-table table-vcenter text-nowrap table-bordered table-sm table-hover table">
                        <thead style="background-color: #eee;">
                            <tr>
                                <th class="text-center text-dark font-weight-bold" colspan="6"> Keterangan </th>
                            </tr> 
                        </thead>
                        <tbody>
                            <tr>
                                <th style="width: 150px;">AOI</th>
                                <td style="width: 10px;">:</td>
                                <td style="width: 30%;">@Html.DisplayFor(model => model.Atr.Aoi)</td>

                                <th style="width: 150px;">Luas (Ha)</th>
                                <td style="width: 10px;">:</td>
                                <td style="width: 30%;">@Html.DisplayFor(model => model.Atr.Luas)</td>
                            </tr>

                            <tr>
                                <th>Tahun Penyusunan</th>
                                <td>:</td>
                                <td>@Html.DisplayFor(model => model.Atr.TahunPenyusunan)</td>

                                <th>Jenis</th>
                                <td>:</td>
                                <td>@Html.DisplayFor(model => model.Atr.JenisAtr.Nama)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <input type="hidden" asp-for="Atr.Kode" />
                <input type="hidden" asp-for="Atr.Nama" />
                <input type="hidden" asp-for="Atr.Nomor" />
                <input type="hidden" asp-for="Atr.Tanggal" />
                <input type="hidden" asp-for="Atr.Aoi" />
                <input type="hidden" asp-for="Atr.Luas" />
                <input type="hidden" asp-for="Atr.Tahun" />
                <input type="hidden" asp-for="Atr.TahunPenyusunan" />
                <input type="hidden" asp-for="Atr.KodeJenisAtr" />
                <input type="hidden" asp-for="Atr.KodeKabupatenKota" />
                <input type="hidden" asp-for="Atr.KodeProvinsi" />
                <input type="hidden" asp-for="Atr.SudahDirevisi" />

                <div class="col-md-12 form-group">
                    <label asp-for="Atr.KodeProgressAtr" class="form-label"></label>
                    <select asp-for="Atr.KodeProgressAtr" class ="form-control" asp-items="ViewBag.Progress"></select>
                </div>

                <div class="col-md-12 form-group">
                    <label asp-for="Atr.StatusRevisi" class="form-label"></label>
                    <select asp-for="Atr.StatusRevisi" class ="form-control" asp-items="ViewBag.StatusRevisi"></select>
                </div>

                <div class="col-md-12 form-group">
                    <label asp-for="Atr.Permasalahan" class="form-label"></label>
                    <textarea asp-for="Atr.Permasalahan" class ="form-control"></textarea>
                </div>

                <div class="col-md-12 form-group">
                    <label asp-for="Atr.TindakLanjut" class="form-label"></label>
                    <textarea asp-for="Atr.TindakLanjut" class ="form-control"></textarea>
                </div>

                <div class="col-md-12 form-group">
                    <label asp-for="Atr.Keterangan" class="form-label"></label>
                    <textarea asp-for="Atr.Keterangan" class ="form-control"></textarea>
                </div>
            </div>

@{
int index = 0;
}

@foreach (var item in Model.KelompokDokumenList) {

            <hr>
            <h3 class="card-title">&nbsp; @Html.DisplayFor(modelitem => item.Nomor). @Html.DisplayFor(modelitem => item.Nama)</h3>
            <hr>

            <div class="card-body row">

    @foreach( var detailItem in item.Dokumen)
    {
                <div class="col-sm-6 col-md-3 pt-2">
                    @Html.DisplayFor(modelitem => detailItem.Nama)
                </div>
                <input type="hidden" name="AtrDokumenList[@index].Kode" value="@Html.DisplayFor(modelitem => detailItem.DetailDokumen.Kode)"/>
                <input type="hidden" name="AtrDokumenList[@index].KodeAtr" value="@Html.DisplayFor(modelitem => detailItem.DetailDokumen.KodeAtr)"/>
                <input type="hidden" name="AtrDokumenList[@index].KodeDokumen" value="@Html.DisplayFor(modelitem => detailItem.Kode)"/>
                <div class="col-sm-6 col-md-1 form-group">
                    <select class="form-control" name="AtrDokumenList[@index].Status">
                        <option value="0">Tidak</option>
        @if(detailItem.DetailDokumen.StatusAda)
        {
                        <option value="1" selected="selected">Ada</option>
        }
        else
        {
                        <option value="1">Ada</option>
        }
                    </select>
                </div>
                <div class="col-sm-6 col-md-2 form-group">
                    <input type="text" name="AtrDokumenList[@index].Nomor" value="@Html.DisplayFor(modelitem => detailItem.DetailDokumen.Nomor)" class="form-control" placeholder="Nomor" />
                </div>
                <div class="col-sm-6 col-md-2 form-group">
                    <input type="date" name="AtrDokumenList[@index].Tanggal" value="@Html.DisplayFor(modelitem => detailItem.DetailDokumen.DisplayTanggal)" class="form-control" />
                </div>
                <div class="col-sm-6 col-md-2 form-group">
                    <textarea name="AtrDokumenList[@index].Keterangan" class="form-control bnote-rdtr" data-toggle="modal" data-target="#note-modal" rows="1">@Html.DisplayFor(modelitem => detailItem.DetailDokumen.Keterangan)</textarea>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" multiple name="AtrDokumenList[@index].UploadFile" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>

        @if( detailItem.DetailDokumen.FilePathAda )
        {
                <div class="col-md-2 offset-md-10 form-group">
                    <a href="/upload/@detailItem.DetailDokumen.FilePath">@detailItem.DetailDokumen.FilePath</a>
                </div>
        }

        @if( detailItem.JumlahTindakLanjut > 0 )
        {
                <div class="col-sm-6 col-md-3 pt-2">
                    Tindak Lanjut 1
                </div>
                <div class="col-sm-6 col-md-1 form-group">
                    <input asp-for="Atr.TL1StatusYes" class="form-check custom-control"/>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <input asp-for="Atr.TL1Keterangan" class ="form-control"/>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" name="Atr.TL1FilePath" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 pt-2">
                    Tindak Lanjut 2
                </div>
                <div class="col-sm-6 col-md-1 form-group">
                    <input asp-for="Atr.TL2StatusYes" class="form-check custom-control"/>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <input asp-for="Atr.TL2Keterangan" class ="form-control"/>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" name="Atr.TL2FilePath" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 pt-2">
                    Tindak Lanjut 3
                </div>
                <div class="col-sm-6 col-md-1 form-group">
                    <input asp-for="Atr.TL3StatusYes" class="form-check custom-control"/>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <input asp-for="Atr.TL3Keterangan" class ="form-control"/>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" name="Atr.TL3FilePath" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 pt-2">
                    Tindak Lanjut 4
                </div>
                <div class="col-sm-6 col-md-1 form-group">
                    <input asp-for="Atr.TL4StatusYes" class="form-check custom-control"/>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <input asp-for="Atr.TL4Keterangan" class ="form-control"/>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" name="Atr.TL4FilePath" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 pt-2">
                    Tindak Lanjut 5
                </div>
                <div class="col-sm-6 col-md-1 form-group">
                    <input asp-for="Atr.TL5StatusYes" class="form-check custom-control"/>
                </div>
                <div class="col-sm-6 col-md-6 form-group">
                    <input asp-for="Atr.TL5Keterangan" class ="form-control"/>
                </div>
                <div class="col-md-2 form-group">
                    <div class="custom-file">
                        <input type="file" name="Atr.TL5FilePath" class="custom-file-input" name="example-file-input-custom" />
                        <label class="custom-file-label">Choose file</label>
                    </div>
                </div>
        }
        index++;
    }

            </div>
}

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary"><i class="fe fe-save"></i> Simpan</button>
                <a asp-page="./Index" class="btn btn-primary"><i class="fe fe-arrow-left"></i> Kembali</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function(){
            $('.bnote-rdtr').click(function(){
                var note = $(this).val();
                $('.bnote-rdtr').removeClass('addnote-rdtr');
                $(this).addClass('addnote-rdtr');
                $('.valnote-rdtr').val(note);
            });

            $('.snote-rdtr').click(function(){
                var note = $('.valnote-rdtr').val();
                $('.addnote-rdtr').val(note);
                $('.addnote-rdtr').removeClass('addnote-rdtr');
                $("#note-modal").modal('hide');
            });
        });
    </script>
}

