@page "{id:int?}"
@model EditModel
@using Protaru.Components.Rtr

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Detail RTR Pulau/Kep";
    ViewData["PageTitle"] = "RTR Pulau/Kepulauan";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card pt-4">
                <component type="typeof(DetailTitle)"
                    render-mode="Static"
                    param-Rtr="@Model.Rtr" />

                <form method="post">
                    <div class="card-body row">
                        <component type="typeof(EditHidden)"
                            render-mode="Static"
                            param-Rtr="@Model.Rtr" />

                        <!-- <div class="col-md-12 form-group">
                            <label class="form-label">Area of Interest</label>
                            <input asp-for="Rtr.Aoi" class="form-control">
                        </div> -->

                        @await Component.InvokeAsync(
                            "Luas", 
                            new { luas = Model.Rtr.Luas })
                        @await Component.InvokeAsync(
                            "TahunPenyusunan", 
                            new { tahun = Model.Rtr.TahunPenyusunan })
                        @await Component.InvokeAsync(
                            "Progress", 
                            new { jenisRtr = Model.Rtr.KodeJenisAtr, progress = Model.Rtr.KodeProgressAtr })
                        @await Component.InvokeAsync(
                            "StatusRevisi", 
                            new { isRegular = true, sudahDirevisi = Model.Rtr.SudahDirevisi, status = Model.Rtr.StatusRevisi })
                        @await Component.InvokeAsync(
                            "PermasalahanTindakLanjutKeterangan", 
                            new { rtr = Model.Rtr })
                    </div>

                    @await Component.InvokeAsync(
                        "KelompokDokumen", 
                        new { rtr = Model.Rtr })

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="/Atr/Delete" asp-route-id="@Model.Rtr.Kode" class="btn btn-primary">Hapus</a>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>

                <component type="typeof(LastUpdate)"
                    render-mode="Static"
                    param-Rtr="@Model.Rtr" />
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ModalInputPartial")

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ModalScriptPartial");}
    @{await Html.RenderPartialAsync("_AjaxUploadFileScriptPartial");}

    <script>
        $(document).ready(function () {
            $('.btn-upload').click(function () {
                process(this, 'RtrPulauT51');
            });
        });
    </script>
}
