@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrNasionalSearchResultLayout";
    ViewData["PageTitle"] = "RTR Pulau/Kepulauan";
    ViewData["Title"] = "Monitoring & Evaluasi RTR Pulau/Kep";
}

<div class="card-body table-responsive">
    <component type="typeof(SearchResultTable)" 
        render-mode="Static" 
        param-RegulationName="@("Perpres")"
        param-DisplayedLocation="@RtrTableLocationEnum.Pulau"
        param-IsCanEdit="@Model.IsCanEdit" 
        param-IsDisplayRegulation="true" 
        param-Url="@Model.Url" 
        param-Items="@Model.Hasil" />
    <partial name="_PagingPartial" model="Model.Hasil" />
</div>
