@page "{id:int?}"
@model EditModel
@using Protaru.Components.Rtr

@{
    Layout = "_RtrNasionalLayout";
    ViewData["Title"] = "Detail RTRWN";
    ViewData["PageTitle"] = "RTRWN";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card pt-4">
                <component type="typeof(DetailTitle)"
                    render-mode="Static"
                    param-Rtr="@Model.Rtr" />

                <form method="post">
                    <div class="card-body row">
                        <component type="typeof(EditHidden)"
                            render-mode="Static"
                            param-Rtr="@Model.Rtr" />

                        <div class="col-md-12 form-group">
                            <label class="form-label">Area of Interest</label>
                            <input asp-for="Rtr.Aoi" class="form-control">
                        </div>

                        @await Component.InvokeAsync(
                            "Luas", 
                            new { luas = Model.Rtr.Luas })
                        @await Component.InvokeAsync(
                            "TahunPenyusunan", 
                            new { tahun = Model.Rtr.TahunPenyusunan })
                        @await Component.InvokeAsync(
                            "Progress", 
                            new { jenisRtr = Model.Rtr.KodeJenisAtr, progress = Model.Rtr.KodeProgressAtr })

                        <div class="col-md-12 form-group">
                            <label class="form-label">Status Revisi</label>
                            <select asp-for="Rtr.StatusRevisi" class ="form-control" asp-items="ViewBag.StatusRevisi"></select>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Permasalahan</label>
                            <textarea asp-for="Rtr.Permasalahan" class ="form-control"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Tindak Lanjut</label>
                            <textarea asp-for="Rtr.TindakLanjut" class ="form-control"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <label class="form-label">Keterangan</label>
                            <textarea asp-for="Rtr.Keterangan" class ="form-control"></textarea>
                        </div>
                    </div>

                    <component type="typeof(EditKelompokDokumen)"
                        render-mode="Static"
                        param-Rtr="@Model.Rtr"
                        param-KelompokDokumen="@Model.KelompokDokumenList"
                        param-Url="@Url" />

                    <component type="typeof(FasilitasKegiatan)"
                        render-mode="Static"
                        param-ListFasilitas="@Model.FasilitasList" />

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                        <a asp-page="/Atr/Delete" asp-route-id="@Model.Rtr.Kode" class="btn btn-primary">Hapus</a>
                        <a asp-page="./Index" class="btn btn-primary">Kembali</a>
                    </div>
                </form>

                <component type="typeof(LastUpdate)"
                    render-mode="Static"
                    param-Rtr="@Model.Rtr" />
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ModalInputPartial")

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ModalScriptPartial");}
    @{await Html.RenderPartialAsync("_AjaxUploadFileScriptPartial");}

    <script>
        $(document).ready(function () {
            $('.btn-upload').click(function () {
                process(this, 'RtrwT52');
            });
        });
    </script>
}
