@namespace Protaru.ViewComponents.Rtr
@using MonevAtr.Models
@using Syncfusion.EJ2.Buttons
@model List<FasilitasKegiatan>

<hr>
<h5 class="card-title">&nbsp; Fasilitas Kegiatan</h5>
<hr>
<div class="card-body row">

@{
int index = 0;
}

@foreach (var fasilitas in Model) {

    var detail = fasilitas.DetailFasilitasKegiatan;

    <input type="hidden"
        name="FasKeg[@index].Kode"
        value="@detail.Kode"/>

    <input type="hidden"
        name="FasKeg[@index].KodeFasilitasKegiatan"
        value="@detail.KodeFasilitasKegiatan"/>

    <div class="col-sm-3 col-md-1 form-group">
        <ejs-checkbox 
            checked="@detail.IsStatusYes">
        </ejs-checkbox>
        @* <input type="checkbox" 
            name="FasKeg[@index].Status"
            class="form-check custom-control"
            value="1"
            checked="@detail.IsStatusYes" /> *@
    </div>

    <div class="col-sm-9 col-md-3 pt-2">
        @fasilitas.Nama
    </div>

    <div class="col-sm-6 col-md-2 form-group">
        <input type="number" 
            name="FasKeg[@index].Tahun"
            class="form-control"
            value="@detail.Tahun"/>
    </div>

    <div class="col-sm-6 col-md-6 form-group">
        <input type="text" 
            name="FasKeg[@index].Keterangan"
            class="form-control"
            value="@detail.Keterangan"/>
    </div>

    index++;
}

</div>
