@namespace Protaru.ViewComponents.Rtr

@using Protaru.Components.Rtr

@model ViewViewComponent.ViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Syncfusion.EJ2

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="pt-4 pb-5 container">
        <div class="row row-cards card py-4">
            <h5 class="text-center text-orange text-title-rtr font-weight-bold text-uppercase">@Model.Title</h5>
            <h4 class="text-center font-weight-bold text-detail-rtr">@Model.Rtr.Rtr.DisplayNamaKabupatenKota</h4>
            <h5 class="text-center text-detail-rtr">@Model.Rtr.Rtr.Nama</h5>
            <h5 class="text-center text-detail-rtr font-weight-bold text-uppercase">@Model.StatusNomor</h5>

            <div class="mt-4 mb-5 tag-title">
                <span>KETERANGAN</span>
            </div>

            <div class="justify-content-md-center px-5">
                <div class="card border-orange mb-3 card-body">
                    <label class="form-label font-weight-bold">Keterangan</label>
                    <textarea class ="form-control mb-3" disabled>@Model.Rtr.Rtr.Keterangan</textarea>

@if (Model.Rtr.Rtr.PreviousRtr != null)
{
                    <a 
                        asp-page="/@Model.PreviousPage/View" 
                        asp-route-id="@Model.Rtr.Rtr.PreviousRtr" 
                        class="btn btn-success text-light offset-4 col-4">
                        Perda Sebelumnya
                    </a>
}

@if (Model.Rtr.Rtr.NextRtr != null)
{
                    <a 
                        asp-page="/@Model.NextPage/View" 
                        asp-route-id="@Model.Rtr.Rtr.NextRtr" 
                        class="btn btn-success text-light offset-4 col-4">
                        Perda Baru
                    </a>
}
                </div>
            </div>

            <div id="detail-title" class="mt-4 mb-5 tag-title">
                <span>RISALAH DOKUMEN DETIL <i class="fa fa-plus-circle"> </i></span>
            </div>

            <div id="detail-item" class="card border-none mb-3 col-md-12" style="border-color: transparent;">
                <div class="card-body table-responsive">
                    <table class="table card-table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nama</th>
                                <th scope="col">Nomor</th>
                                <th scope="col">Tanggal</th>
                                <th scope="col">Keterangan</th>
                                <th scope="col">File</th>
                            </tr>
                        </thead>
                        <tbody>

@{
    int index = 1;

    foreach (var item in Model.Rtr.KelompokDokumenList) 
    {
        foreach( var detailItem in item.Dokumen)
        {
            if( detailItem.UntukPublik == 0)
            {
                continue;
            }

            var detailDokumen = detailItem.DetailDokumen;
            var nomor = detailDokumen == null ? string.Empty : detailDokumen.Nomor;
            var tanggal = detailDokumen == null ? string.Empty : detailDokumen.DisplayTanggalForView;
            var keterangan = detailDokumen == null ? string.Empty : detailDokumen.Keterangan;

                            <tr>
                                <td>@index</td>
                                <td>@detailItem.Nama</td>
                                <td>@nomor</td>
                                <td>@tanggal</td>
                                <td>@keterangan</td>

                                <component type="typeof(ViewFile)"
                                    render-mode="Static"
                                    param-RtrDokumen="@detailItem.DetailDokumen"
                                    param-Url="@Url" />
                            </tr>

            index++;
        }
    }
}

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="px-5">
                <button onclick="window.history.back();" class="btn btn-warning text-light float-sm-right">Kembali</button>
                @* <a asp-page="@returnUrl" class="btn btn-warning text-light float-sm-right">Kembali</a> *@
            </div>
        </div>
    </div>
</div>
