@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrDaerahLayout";
    ViewData["PageTitle"] = "RTRW";
    int index = Model.Hasil.StartItemIndex;
    string pageName = Model.IsCanEdit ? "./Edit" : "./View";
    ViewData["Title"] = Model.IsCanEdit ? "Monitoring & Evaluasi RTRW T5-2" : "Monitoring & Evaluasi RTRW";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
	<div class="pt-4 pb-5">
        <div class="container">
            <div class="row row-cards card">
                <div class="card-header">
                    <h4 class="card-title float-sm-left">@ViewData["Title"]</h4>
                    <div class="ml-auto float-sm-right">
                        <form method="get" asp-page="./CreateFilter" class="d-inline">
                            <input type="hidden" asp-for="Rtr.Prov" />
                            <input type="hidden" asp-for="Rtr.KabKota" />
                            <input type="hidden" asp-for="Rtr.Nama" />
                            <input type="hidden" asp-for="Rtr.Nomor" />
                            <input type="hidden" asp-for="Rtr.Tahun" />
 
@foreach (var item in Model.Rtr.ProgressList) 
{
                            <input type="hidden" name="Rtr.ProgressList" value="@item" />
}

@if(Model.IsCanCreate)
{
                    <!-- <a asp-page="./Import" class="btn btn-info"><i class="fe fe-upload"></i> Impor Data</a> -->
                            <button type="submit" class="btn btn-success">Tambah</button>
}
                        </form>
                        <a asp-page="./Index" class="btn btn-warning">Kembali</a>
                    </div>
                </div>

                <div class="card-body table-responsive">
                    <table class="table card-table table-vcenter table-bordered table-sm table-hover table search-result">
                        @await Html.PartialAsync("_TableHeader", Model.IsCanEdit)

                        <tbody>

@foreach (var item in Model.Hasil)
{
                            <tr>
                                <td>@index</td>
                                <td class="text-center">
                                    <a asp-page="@pageName" 
                                        asp-route-id="@item.Kode" 
                                        class="btn btn-primary btn-sm">
                                        Detail
                                    </a>
                                    <span>@Html.HiddenFor(modelItem => item.Kode)</span>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.DisplayNamaProvinsi)</td>
                                <td>@Html.DisplayFor(modelItem => item.KabupatenKota.Nama)</td>
@if(Model.IsCanEdit)
{
                                <td>@MonevAtr.Models.StatusRevisi.NamaStatusRevisiRevisi(item.StatusRevisi)</td>
}
                                <td>@Html.DisplayFor(modelItem => item.Nomor)</td>
                                <td>@Html.DisplayFor(modelItem => item.Tahun)</td>
                                <td>@Html.DisplayFor(modelItem => item.ProgressAtr.Nama)</td>
                            </tr>
    index++;
}

                        </tbody>
                    </table>

                    @await Html.PartialAsync("_PagingPartial", Model.Hasil)
                </div>
            </div>
        </div>
	</div>
</div>
