@page

@using Itm.Identity
@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json

@model IndexModel

@inject SignInManager<ApplicationUser> SignInManager

@section Menu 
{
	@await Html.PartialAsync("_MenuHome")
}

@section Styles
{
    <!-- Syncfusion Essential JS 2 Styles -->
    <link rel="stylesheet" href="~/css/material-dropdown.css" />
}

<div class="home-header pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 pt-5 mt-5 welcome-title">
        <h1 class="title-status-progress pt-5 mt-4 welcome-title">
          <strong>SELAMAT <br> DATANG</strong>
        </h1>

        <div class="border-title" style="width: 50%;">
        </div>

        <h2 class="subtitle-welcome pt-2">
          di Aplikasi PROTARU <br>
          Progress Penyelesaian <br>
          Tata Ruang
        </h2>
      </div>

      <div class="col-lg-9">
        <img src="~/assets/img/bg-header-home-2.jpg" style="max-width: 100%; height: auto;">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3 py-2">
        <div class="row rtr-progress-total">
          <div class="col-6 pt-1 progress-number-box">
            <a class="row pt-2" asp-page="Rtr/SearchResult" asp-route-perda="0">
              <div id="summary-progress" class="col-6 text-white text-right progress-number" style="font-size: 2rem;">
              </div>
              <div class="col-6 pt-2 text-white text-left progress-type">
                RTR<br>Progress
              </div>
            </a>
          </div>
          <div class="col-6 pt-1 progress-number-box">
            <a class="row pt-2" asp-page="Rtr/SearchResult" asp-route-perda="1">
              <div id="summary-done" class="col-6 text-white text-right progress-number" style="font-size: 2rem;">
              </div>
              <div class="col-6 pt-2 text-white text-left progress-type">
                RTR<br>Perda/Perpres
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 offset-lg-3 text-center">
        <form method="get"
          asp-page="/Search/SearchResultByNama"
          class="form-inline pt-4 pb-1 text-center">
          <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
          <ejs-autocomplete
            autocomplete="true"
            autofill="true"
            dataSource="@Model.NamaRtr"
            id="home-autocomplete"
            placeholder="Temukan RTR kamu disini"
            name="Rtr.Nama"
            class="form-control pl-5">
          </ejs-autocomplete>
            @* fields="@Model.FieldSettings"
            filtering="filtering" *@
        </form>

        @* <a asp-page="/RtrIndexDaerah"
          class="btn btn-success text-white font-italic px-4" 
          style="border-radius: 15px;">
          Temukan Rtr kamu disini
        </a> *@
      </div>
    </div>
  </div>
</div>

<div class="introduction" style="background-color: #f7f7f7;">
  <div class="text-center w-100">
    <h1 class="py-4 title-proratu-intro">
      <span>YUK, KENALAN DENGAN PROTARU!</span>
    </h1>
  </div>

  <div class="container">
    <div class="row pb-3">
      <div class="col-lg-7">
        <img src="~/assets/img/introduce.jpg" 
          style="max-width: 100%; height: auto; object-fit: cover;">
      </div>

      <div class="col-lg-5">
        <p class="protaru-desc">
          Dalam Rangka mewujudkan ruang yang aman, nyaman, produktif dan berkelanjutan dengan tersedianya Perda Tata Ruang di seluruh Indonesia baik yang merupakan rencana umum maupun rencana detail.
        </p>

        <p class="protaru-desc">
          Direktorat Jenderal Tata Ruang Kementerian Agraria dan Tata Ruang membangun sebuah aplikasi yang dinamakan PROTARU guna mengelola data dan informasi terkait kegiatan Perencanaan Tata Ruang dan Pemanfaatan Ruang Daerah yang  dilakukan  oleh  Pemerintah  di provinsi,  kabupaten, dan  kota
        </p>
      </div>
    </div>

    <div class="text-center w-100">
      <h1 class="title-proratu-intro pt-5 pb-4">
        <span>PILIH RTR YANG MAU KAMU CARI</span>
      </h1>
    </div>

@{
  string pageName;

  pageName = SignInManager.IsSignedIn(User) ? "/RtrwnT51/Index" : "/Rtrwn/Perpres";
}

    <div class="row pb-5">
      <div class="col-md-2 p-2">
        <a asp-page="@pageName" 
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="adalah arahan kebijakan dan strategi pemanfaatan ruang wilayah negara yang dijadikan acuan untuk perencanaan jangka panjang.">
          RTRWN
        </a>
      </div>

@{
  pageName = SignInManager.IsSignedIn(User) ? "/RtrPulauT51/Index" : "/RtrPulau/Perpres";
}

      <div class="col-md-2 p-2">
        <a asp-page="@pageName" 
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="berperan sebagai perangkat operasional dari RTRWN serta alat koordinasi dan sinkronisasi program pembangunan wilayah Pulau/Kepulauan.">
          PULAU/KEP
        </a>
      </div>

@{
  pageName = SignInManager.IsSignedIn(User) ? "/RtrKsnT51/Index" : "/RtrKsn/Perpres";
}

      <div class="col-md-2 p-2">
        <a asp-page="@pageName" 
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="adalah wilayah yang penataan ruangnya diprioritaskan karena mempunyai pengaruh sangat penting secara nasional terhadap beragam aspek penting.">
          KSN
        </a>
      </div>

@{
  pageName = SignInManager.IsSignedIn(User) ? "/RtrKpnT51/Index" : "/RtrKpn/Perpres";
}

      <div class="col-md-2 p-2">
        <a asp-page="@pageName"  
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="sebagai alat operasionalisasi RTRWN dan sebagai alat koordinasi pelaksanaan pembangunan di Kawasan Perbatasan Negara dan Kawasan Pendukung.">
          KPN
        </a>
      </div>

@{
  pageName = SignInManager.IsSignedIn(User) ? "/RtrwT51/Index" : "/Rtrw/Perda";
}

      <div class="col-md-2 p-2">
        <a asp-page="@pageName" 
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="adalah RTR yang bersifat umum dari wilayah provinsi, mengacu pada penjabaran dari RTRWN, pedoman bidang penataan ruang, serta rencana pembangunan jangka panjang daerah.">
          RTRW
        </a>
      </div>

@{
  pageName = SignInManager.IsSignedIn(User) ? "/RdtrT51/Index" : "/Rdtr/Perda";
}

      <div class="col-md-2 p-2">
        <a asp-page="@pageName" 
          class="btn btn-outline-success btn-block py-2 font-weight-bold" 
          style="border-radius: 14px;"
          data-toggle="tooltip" 
          data-placement="bottom" 
          title="adalah rencana secara terperinci tentang tata ruang wilayah kabupaten/kota yang dilengkapi dengan peraturan zonasi kabupaten/kota.">
          RDTR
        </a>
      </div>

    </div>
  </div>
</div>

<div class="description">
  <div class="container py-4">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="title-proratu-desc">
          KEMUDAHAN MENGGUNAKAN PROTARU
        </h1>

        <div class="border-title">
        </div>

        <p class="pt-3 protaru-desc">
          PROTARU menyajikan Progress Penyelesaian Rencana Tata Ruang baik Rencana 
          Umum maupun Rencana Rinci yang disusun oleh Pemerintah. Berbagai macam 
          kemudahan pengaksesan serta tata cara mencari data Rencana Tata Ruang
          dapat anda lihat dalam video tutorial yang sudah kami sediakan.
        </p>

        <div class="row text-center">
          <div class="col-lg-4">
            <img src="~/assets/img/proses-daerah-icon.png">

            <h2 class="font-weight-bold title-step-desc pt-3">
              1. Penyusunan
            </h2>

            <p class="text-secondary step-desc">
              Penyusunan Rencana Tata Ruang
            </p>
          </div>

          <div class="col-lg-4">
            <img src="~/assets/img/pencatatan-icon.png">

            <h2 class="font-weight-bold title-step-desc pt-3">
              2. Pencatatan
            </h2>

            <p class="text-secondary step-desc">
              Aplikasi Protaru mencatat di dalam database sentral
            </p>
          </div>

          <div class="col-lg-4">
            <img src="~/assets/img/sajian-data-icon.png">

            <h2 class="font-weight-bold title-step-desc pt-3">
              3. Sajian Data
            </h2>
              
            <p class="text-secondary step-desc">
              Khalayak umum dapat melihat sajian data Progress RTR
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 py-5 yt-box">
        <div class="videowrapper">
          <iframe style="border-radius: 10px;" 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/lIAobmRepFo" 
            frameborder="0" 
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>

@section Scripts
{
  <!-- Syncfusion Essential JS 2 Scripts -->
  <script src="~/js/ej2.min.js"></script>
  <!-- Syncfusion Essential JS 2 ScriptManager -->
  <ejs-scripts></ejs-scripts>

	<script>
		$("#menu-home").addClass("active");

    $.getJSON(
      '@Url.Content("~/api/Progress/HomeSummary")', 
      null, 
      function(data)
      {
        $('#summary-progress').html(data.progress);
        $('#summary-done').html(data.done);
      });

    // Contains
    // startsWith
		@* function filtering(e) {
			var predicate = new ej.data.Predicate('Nama', 'Contains', e.text, true);
			var query = new ej.data.Query();
			query = (e.text !== '' && e.value !== '') ? query.where(predicate) : query;
			e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.NamaRtr)), query);
		} *@
	</script>
}
