@page
@model RtrIndexModel

@using Syncfusion.EJ2.Maps;
@using Newtonsoft.Json;

@{
	Layout = "_RtrDaerahLayout";
	ViewData["Title"] = "Kementerian Agraria dan Tata Ruang Daerah";
	ViewData["ReturnUrl"] = "/RtrIndexDaerah";
}

<ejs-maps 
	id="maps" 
	border="Model.Border"
	centerPosition="Model.CenterPosition"
	format="n" 
	load="window.onMapLoad"
	tooltipDisplayMode="DoubleClick"
	useGroupingSeparator="true" 
	zoomSettings="Model.ZoomSettings">

	<e-maps-layers>
		<e-maps-layer 
			layerType="Bing" 
			bingMapType="AerialWithLabel" 
			key="@Model.BingKey"
			markerClusterSettings="Model.ClusterSettings"
			markerSettings="Model.MarkerSettings">
		</e-maps-layer>
	</e-maps-layers>
</ejs-maps>

<div id="tooltip-template" style="display: none;">
	<div class="protaru-tooltip p-2">
		<h5 class="text-center">${location}</h5>
		<h6 class="text-center">${rtr}</h6>
		<p class="mb-0">Progress: ${progress}</p>
		<p class="mb-0">Surat Rekom Gub: ${rekomGub}</p>
		<p class="mb-0">Rapat Lintas Sektor: ${linSek}</p>
		<p class="mb-0">Surat Persetujuan Substansi: ${perSub}</p>
		<p class="mb-0">No. Perda: ${perda}</p>
		<a href="${link}" class="btn btn-primary btn-block p-0">Detail</a>
	</div>
</div>

<div class="search-box">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 text-center"></div>
			<div class="col-lg-8 text-center">
				<form method="get" asp-page="/Search/DaerahByProgress" class="form-inline py-4 px-3">
					<input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
					<div class="form-group col-lg-9">
						<ejs-autocomplete 
							autocomplete="true"
							autofill="true" 
							dataSource="@Model.Provinsi" 
							fields="@Model.FieldSettings"
							filtering="filtering"
							id="provinsi-autocomplete" 
							placeholder="Cari berdasarkan nama provinsi"
							class="form-control form-control-lg w-100 form-search pl-5 text-sm-center shadow">
						</ejs-autocomplete>
					</div>
					<div class="col-lg-3">
						<button type="submit" class="btn btn-search btn-lg btn-block shadow border-0">SEARCH</button>
					</div>
				</form>
			</div>
			<div class="col-lg-2 text-center"></div>
		</div>
	</div>
</div>

<div class="progress-total">
	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-8 py-5">
				<div class="row rtr-progress-total">
					<div class="col-3 text-right pt-2 progress-number-box">
						<div class="text-white display-4 progress-number">529</div>
					</div>
					<div class="col-3 text-left pt-2">
						<div class="text-white progress-type">RTR<br>Progress</div>
					</div>
					
					<div class="col-3 text-right pt-2 progress-number-box">
						<div class="text-white display-4 progress-number">359</div>
					</div>
					<div class="col-3 text-left pt-2">
						<div class="text-white progress-type">RTR<br>Perda</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2"></div>
		</div>
	</div>
</div>

<div class="progress-chart">
      <!-- Progress Penyelesaian RTR -->
	<div class="py-5">
        <div class="text-center chart-title">
			<div class="font-weight-normal text-dark">PROGRESS PENYELESAIAN RTR</div>
			<div class="border-chart-title">&nbsp;</div>
        </div>
	</div>

	<div class="container pb-5">
		<div class="row">
			<div class="col-md-6 py-3">
				<a id="rtrw-t51-progress" data-toggle="tooltip" data-placement="bottom" title="RTRW T5-1 adalah RTRW yang disusun sesudah Undang-Undang No. 26 Tahun 2007 ditetapkan" class="title-progress active-progress">RTRW</a> 
				<span class="title-progress">|</span> 
				<a id="rdtr-t51-progress" data-toggle="tooltip" data-placement="bottom" title="RDTR T5-1 adalah RDTR yang disusun sesudah Undang-Undang No. 26 Tahun 2007 ditetapkan" class="title-progress">RDTR</a>
				<h6 class="text-progress">Lima Tahun Pertama</h6>

				<div id="progress-t51" class="box-graphic">
					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/penyusunan.png">
							<span class="text-month">Penyusunan</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-init">
								<div class="progress-bar red-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-dark">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/rekom-gub.png">
							<span class="text-month">Rekomendasi Gubernur</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar black-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-medium-dark">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/persub.png">
							<span class="text-month">Persetujuan Substansi</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar blue-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-medium">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/perda.png">
							<span class="text-month">Peraturan Daerah</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar yellow-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-light">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 py-3">
				<a id="rtrw-t52-progress" data-toggle="tooltip" data-placement="bottom" title="RTRW T5-2 adalah RTRW yang disusun berdasarkan hasil peninjauan kembali dan revisi dari RTRW T5-1" class="title-progress active-progress">RTRW</a> 
				<span class="title-progress">|</span> 
				<a id="rdtr-t52-progress" data-toggle="tooltip" data-placement="bottom" title="RDTR T5-2 adalah RDTR yang disusun berdasarkan hasil peninjauan kembali dan revisi dari RDTR T5-1" class="title-progress">RDTR</a>
				<h6 class="text-progress">Lima Tahun Kedua</h6>

				<div id="progress-t52" class="box-graphic">
					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/proses-pk.png">
							<span class="text-month">Proses Peninjauan Kembali</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-init">
								<div class="progress-bar red-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-dark">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/revisi.png">
							<span class="text-month">Revisi</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar black-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-medium-dark">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/rekom-gub.png">
							<span class="text-month">Rekomendasi Gubernur</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar blue-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-medium">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/persub.png">
							<span class="text-month">Persetujuan Substansi</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar yellow-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-light">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>

					<div class="row no-gutters">
						<div class="col-sm-2">
							<img class="img-fluid" src="~/assets/img/perda.png">
							<span class="text-month">Peraturan Daerah</span>
						</div>
						<div class="col-sm-9">
							<div class="progress progress-type progress-general">
								<div class="progress-bar purple-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
								<div class="progress-circle circle-light">
									<div class="progress-score"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts 
{
	<script>
		function filtering(e) {
			var predicate = new ej.data.Predicate('Nama', 'startsWith', e.text, true);
			var query = new ej.data.Query();
			query = (e.text !== '' && e.value !== '') ? query.where(predicate) : query;
			e.updateData(@Html.Raw(JsonConvert.SerializeObject(Model.Provinsi)), query);
		}
	</script>

	@{await Html.RenderPartialAsync("_HomepageScriptPartial");}
    @{await Html.RenderPartialAsync("_AjaxProgressScriptPartial");}
}
