@page "{handler?}"
@model SearchResultModel

@{
    Layout = "_RtrNasionalLayout";
    ViewData["PageTitle"] = "RDTR KPN";
    ViewData["Title"] = Model.IsCanEdit ? 
        "Monitoring & Evaluasi RDTR KPN T5-2" : 
        "Monitoring & Evaluasi RDTR KPN";
}

<div class="page-title">
    <div class="container">
        <h4>@ViewData["PageTitle"]</h4>
    </div>
</div>

<div class="bg-page-detail">
    <div class="container pt-4 pb-5">
        <div class="row row-cards card">
            <div class="card-header">
                <h4 class="card-title float-sm-left">@ViewData["Title"]</h4>
                <component type="typeof(SearchResultForm)" 
                    render-mode="Static" 
                    param-DisplayedLocation="@RtrTableLocationEnum.ProvinsiKabKota"
                    param-IsCanCreate="@Model.IsCanCreate" 
                    param-Url="@Model.Url" 
                    param-Rtr="@Model.Rtr" />
            </div>

            <div class="card-body table-responsive">
                <component type="typeof(SearchResultTable)" 
                    render-mode="Static" 
                    param-RegulationName="@("Perpres")"
                    param-DisplayedLocation="@RtrTableLocationEnum.ProvinsiKabKota"
                    param-IsCanEdit="@Model.IsCanEdit" 
                    param-IsDisplayRegulation="true" 
                    param-Url="@Model.Url" 
                    param-Items="@Model.Hasil" />
                <partial name="_PagingPartial" model="Model.Hasil" />
            </div>
        </div>
	</div>
</div>
