@page "{handler?}"
@model SearchResultModel
@using MonevAtr.Models

@{
    Layout = "_RtrDaerahSearchResultLayout";
    ViewData["Title"] = "Monitoring & Evaluasi RTRW";
    ViewData["PageTitle"] = "RTRW";
}

<div class="card-body table-responsive">
    <table class="table card-table table-vcenter table-bordered table-sm table-hover table search-result">
        <thead>
            <tr class="text-light font-weight-bold text-center bg-info">
                <th>No</th>
                <th>Action</th>
                <th>Provinsi</th>
                <th>Kabupaten/Kota</th>
                <th>Nama</th>

@if (Model.IsPerdaPerpres)
{
                <th>Nomor Perda</th>
                <th>Tahun Perda</th>
}

                <th>Progress</th>
            </tr>
        </thead>
        <tbody>

@{
int index = Model.Hasil.StartItemIndex;
}

@foreach (var item in Model.Hasil)
{
    JenisRtrEnum jenis = (JenisRtrEnum)item.JenisAtr.Kode;
    string pageName = $"/{jenis}/View";


            <component type="typeof(SearchResultRow)" 
                render-mode="Static" 
                param-Index="@index"
                param-PageName="@pageName" 
                param-DisplayedLocation="@RtrTableLocationEnum.ProvinsiKabKota"
                param-IsAdminView="false" 
                param-IsDisplayRegulation="@Model.IsPerdaPerpres" 
                param-Url="@Model.Url" 
                param-Item="@item" />

    index++;
}

        </tbody>
    </table>

    @await Html.PartialAsync("_PagingPartial", Model.Hasil)
</div>
